@import "tailwindcss";
@import "aos/dist/aos.css";

/* === Font Variable Mapping === */
:root,
body {
  --font-title: var(--font-oswald);
  --font-desc: var(--font-roboto);
  --font-pencil: var(--font-super-pencil);
  --font-title-blog: var(--font-poppins);
}

/* === Local Font === */
@font-face {
  font-family: "Super Pencil";
  src: url("/fonts/Super-Pencil.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* === Custom Font Classes === */
@layer components {
  .font-title {
    font-family: var(--font-title);
  }
  .font-desc {
    font-family: var(--font-desc);
  }
  .font-pencil {
    font-family: var(--font-pencil);
  }
  .font-title_blog {
    font-family: var(--font-title-blog);
  }
}

.mySwiper.pb-16 {
  padding-bottom: 4rem !important;
}
